*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}


#main-page{
    background-color: black;
    
}

.header{
    height: 1em;
    display: flex;
    margin-top: 10px;
    margin-bottom: 150px;
}

#name-tag{
    
    position: absolute; 
    color: #FFF;
    font-family: 'Microgramma D';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

#main-title{
    width: 100%;
    color: #FFF;
    font-family: 'Microgramma D';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.menu{
    height: 10em;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    
    font-family: 'Microgramma D';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#github, #velog, #email{
    flex-grow: 1;
}


#github-icon, #velog-icon{
    width: 200px;
    height: 200px;
}



#email-icon{
    width: 200px;
    height: 150px;

}

#email-address{
    color: #FFF;
    font-size: 36px;
    padding: 0;
    
    /* display: none; */
}
