* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


#main-page {
    background-color: black;
}

.header {
    height: 1em;
    display: flex;
    margin-top: 10px;
    margin-bottom: 150px;
}

#name-tag {

    position: absolute;
    color: #FFF;
    font-family: 'Microgramma D';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

#main-title {
    width: 100%;
    color: #FFF;
    font-family: 'Microgramma D';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#introduce {

    width: 100%;
    color: #FFF;
    font-family: 'Microgramma D';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}